
<nav class="navbar navbar-default" style="margin-left: 42%;margin-right: 9%;margin-top: -621px;height: 90%;">
    <div class="panel panel-default" style="width: 76%;margin-left: 15%;max-width: 73%;margin-top: 24px;">
        <div class="panel-heading" style="background-image:url(app/question/new-question/img/red.png);">
            <h3 class="panel-title" style=" color: white;font-size: 20px; font-weight: bold;">Adding question</h3>
        </div>
        <div class="panel-body" style="width: 85%;margin-left: 9%;">
            <span class="input-group-addon" id="question">new question</span>
            <input type="text" class="form-control" placeholder="question" aria-describedby="question">    
            <button type="button" class="btn btn-primary" style="width: 100%;margin-top: 50px;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>   
        </div>
    </div>

    <div class="panel panel-default" style="width: 42%;margin-left: 12%;max-width: 40%;">
        <div class="panel-heading" style="background-image:url(app/question/new-question/img/red.png);">
            <h3 class="panel-title" style=" color: white;font-size: 20px; font-weight: bold;">Adding choice</h3>
        </div>
        <div class="panel-body" style="width: 85%;margin-left: 9%;">
            <span class="input-group-addon" id="choice">new choice</span>
            <input type="text" class="form-control" placeholder="choice" aria-describedby="choice">   
            <label class="checkbox-inline">
            <input type="checkbox" value="">isAnswer
            </label> 
            <button type="button" class="btn btn-primary" style="width: 100%;margin-top: 50px;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>   
        </div>
    </div>

    <div class="panel panel-default" style="margin-left: 55%;max-width: 38%;m;margin-top: -258px;min-width: 5%;">
        <!-- Default panel contents -->
        <div class="panel-heading" style="background-image:url(app/question/new-question/img/red.png);">
            <h3 class="panel-title" style=" color: white;font-size: 20px; font-weight: bold;">Question sommary</h3>
        </div>
        <div class="panel-body">
            what is Angular ?
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">A Framework</li>
            <li class="list-group-item">A Library</li>
            <li class="list-group-item">A Navigator</li>
            <li class="list-group-item">Nothing</li>
        </ul>
    </div>
    <button type="button" class="btn btn-primary" style="width: 59%;margin-top: 14px;margin-bottom: 21px;margin-left: 23%;max-width: 60%;">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Publish</button>
</nav>