<nav class="navbar navbar-default" style="margin-left: 22%;margin-right: 59%;margin-top: 12px;">
    <div class="list-group" style="margin-left: 10%;width: 80%;max-width: 80%;margin-top: 23px;margin-bottom: 375px;">
    <a href="#" class="list-group-item active">
        Available polls
    </a>
    <a  class="list-group-item">olitchtie</a>
    <a href="new" class="list-group-item">patrickHub</a>
    <a href="new" class="list-group-item">tweb</a>
    <a href="new" class="list-group-item">info2</a>
    </div>
</nav>
<router-outlet> </router-outlet>