<nav class="navbar navbar-default" style="margin-left: 22%;margin-right: 22%;margin-top: 12px; height: 795px;">

    <div class="panel panel-default" style="width: 76%;margin-left: 22%;max-width: 60%;margin-top: 12px;">
        <div class="panel-heading" style="z-index: 2;color: #fff;background-color: #337ab7;border-color: #337ab7;">
            <h3 class="panel-title" style=" color: white;font-size: 20px; font-weight: bold;">Poll 
                <a (click)="modalNewPoll.open()" style="margin-left: 65%;">
                        New Poll
                 </a>
            </h3>
        </div>
    <div class="panel-body" style="width: 85%;margin-left: 9%;">
         <form name="pollForm" (ngSubmit)="iform.form.valid && checkPollEmpty()" #iform="ngForm" novalidate>
           <select [(ngModel)]="selectedPoll" class="form-control" name="size">
               <option *ngIf="!polls.length" value ="">no poll available</option>
               <option  *ngIf="polls.length" value="">Choose a poll</option>
               <option  *ngFor="let poll of polls" [value]="poll._id">{{poll.title}}</option>         
            </select>
            <div *ngIf="hasError && !selectedPoll"  class="help-block" style="margin-bottom: -8px;">you must select a poll</div>
         </form>
        
         
    </div>
    </div>
    <div class="panel panel-default" style="width: 76%;margin-left: 15%;max-width: 73%;margin-top: 24px;">
        <div class="panel-heading" style="background-image:url(app/question/new-question/img/red.png);">
            <h3 class="panel-title" style=" color: white;font-size: 20px; font-weight: bold;">Adding question
                <button *ngIf="question.description" [disabled]="enableDescription" (click) = updateDescription() class="btn btn-primary" style="background-color: #de1e19; border-color: #de1e19;margin-left: 65%;">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update</button>
            </h3>
        </div>
        <div class="panel-body" style="width: 85%;margin-left: 9%;">
            <span class="input-group-addon" id="question">new question</span>
            <form name="questionForm" (ngSubmit)="questionForm.form.valid && checkPollEmpty()" #questionForm="ngForm" novalidate>
                <input [disabled]="!enableDescription" #description type="text" class="form-control" name="description" [(ngModel)]="currentDescription" placeholder="question" aria-describedby="question">    
                <div *ngIf="(hasError && !question.description) || ((question.description && !currentDescription) && enableDescription)"  class="help-block" style="margin-bottom: -8px;">question is required</div>
                <button [disabled]="!currentDescription" (click) = addDescription() class="btn btn-primary" style="width: 100%;margin-top: 50px;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button> 
            </form>
        </div>
    </div>

    <div class="panel panel-default" style="width: 42%;margin-left: 12%;max-width: 40%;">
        <div class="panel-heading" style="background-image:url(app/question/new-question/img/red.png);">
            <h3 class="panel-title" style=" color: white;font-size: 20px; font-weight: bold;">Adding choice</h3>
        </div>
        <div class="panel-body" style="width: 85%;margin-left: 9%;">
            <span class="input-group-addon" id="choice">new choice</span>
            <form name="choiceForm" (ngSubmit)="choiceForm.form.valid && checkPollEmpty()" #choiceForm="ngForm" novalidate>
                <input [disabled]="choiceNber==4 && !isChoiceUpdate" #title type="text"  class="form-control" name="title" [(ngModel)]="currentChoice.title" placeholder="choice" aria-describedby="choice">   
                <label class="checkbox-inline">
                    <input [disabled]="hasAnswer" name="isAnswer" [(ngModel)] = "currentChoice.isAnswer"  #isAnswer type="checkbox" value="">isAnswer
                </label> 
                <div *ngIf="(hasError && !hasAnswer) || (hasError && choiceNber<2)" name="message" class="help-block" style="margin-bottom: -8px;">A least 2 choices with 1 answer is required</div>
                <button [disabled]="!currentChoice.title" (click)="addChoice()" class="btn btn-primary" style="width: 100%;margin-top: 50px;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
            </form>   
        </div>
    </div>

    <button [disabled]="!question.description" (click)="publishQuestion()"class="btn btn-primary" style="width: 59%;margin-bottom: 21px;margin-top: 32px;margin-left: 23%;max-width: 60%;">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Publish</button>

    <div class="panel panel-default" style="margin-left: 55%;max-width: 38%;margin-top: -349px;min-width: 5%;max-height: 267px;">
        <!-- Default panel contents -->
        <div class="panel-heading" style="background-image:url(app/question/new-question/img/red.png);">
            <h3 class="panel-title" style=" color: white;font-size: 20px; font-weight: bold;">Question sommary</h3>
        </div>
        <div class="panel-body">
            <p *ngIf="!question.description">No Question</p>
            <p *ngIf="question.description">{{question.description}}</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li *ngFor="let choice of question.choices"  [class.selected]="choice.title===currentChoice.title" (click)="updateChoice(choice)" class="list-group-item" style="cursor: pointer;">{{choice.title   }}    
                <span *ngIf="choice.isAnswer" class="glyphicon glyphicon-ok" aria-hidden="false" style="color: #00a65a;"></span>
            </li>
        </ul>
    </div>

    <modal #modalNewPoll>
        <modal-header style="background-color: #de1e19;">
             <h3 class="panel-title" style="font-size: 20px; font-weight: bold;">Add a new poll</h3>
        </modal-header>
        <modal-content>
            <span class="input-group-addon" id="poll">new poll</span>
            <form>
                <input #ipoll type="text" class="form-control" name="ipoll" [(ngModel)]="newPollTitle"  placeholder="poll" aria-describedby="" required>    
            </form>
        </modal-content>
        <modal-footer>
            <button [disabled]="!newPollTitle" type="button" class="btn btn-primary" (click)="addNewPoll(); modalNewPoll.close();" style="width: 85%;margin-right: 35px;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
        </modal-footer>
</modal>
</nav>
<!--<router-outlet> </router-outlet>-->