<div class="auth-main">
  <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }" style="
    margin-top: -371px;
    margin-left: 40%;
    background-color: white;
    width: 318px;
    position: absolute;
">{{message.text}}</div>
  <div class="auth-block">
    <h1>Sign up to CoolApp Student</h1>
    <a routerLink="/login" class="auth-link">Already have a CoolApp student account? Sign in!</a>

    <form [formGroup]="formRegister" (ngSubmit)="onSubmit(formRegister.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!fullName.valid && fullName.touched), 'has-success': (fullName.valid && fullName.touched)}">
        <label for="fullName" class="col-sm-2 control-label">Full name</label>

        <div class="col-sm-10">
          <input [formControl]="fullName" type="text" class="form-control" id="fullName"  placeholder="Full name">
        </div>
      </div>
     
      <div class="form-group-button-row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="!formRegister.valid" type="submit" class="btn btn-default btn-auth">Sign up</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
           
        </div>
      </div>
    </form>
  </div>
</div>
