.auth-main{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: url(app/register/images/sky-bg.jpg) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: 0;
 }

.auth-block {
    width: 550px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.55);
    color: #fff;
    padding: 32px;
    display: block;
}
.auth-block h1 {
    font-weight: 300;
    margin-bottom: 28px;
    text-align: center;
    font-size: 32px;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.auth-block a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: #00abff;
}
.auth-link {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 33px;
}
.has-error .form-control {
    border: 1px solid #fa758e;
}
.form-control {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    font-size: 14px;
}
.auth-block .form-group {
    margin-bottom: 12px;
}
.has-error {
    position: relative;
}
.form-group {
    margin-bottom: 1rem;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.form-group-button-row{
  display: block;
    margin-left: auto;
    margin-right: auto
}
*, *::before, *::after {
    box-sizing: inherit;
}
div {
    display: block;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, 
.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, 
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, 
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-md-10, .col-md-11, .col-md-12, 
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, 
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, 
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, 
.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

button.btn.btn-default.disabled, 
button.btn.btn-default[disabled], 
fieldset[disabled] button.btn.btn-default, 
button.btn.btn-default.disabled:hover, 
button.btn.btn-default[disabled]:hover, 
fieldset[disabled] button.btn.btn-default:hover, 
button.btn.btn-default.disabled:focus, 
button.btn.btn-default[disabled]:focus, 
fieldset[disabled] button.btn.btn-default:focus, 
button.btn.btn-default.disabled.focus, 
button.btn.btn-default[disabled].focus, 
fieldset[disabled] button.btn.btn-default.focus, 
button.btn.btn-default.disabled:active, 
button.btn.btn-default[disabled]:active, 
fieldset[disabled] button.btn.btn-default:active, 
button.btn.btn-default.disabled.active, 
button.btn.btn-default[disabled].active, 
fieldset[disabled] button.btn.btn-default.active {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}
button.btn.btn-default {
    border-width: 1px;
    width: 70px;
    height: 30px;
    margin-left: 72px;
    color: #ffffff;
    background: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}
.btn-auth {
    color: #ffffff !important;
}
.btn {
    border-radius: 5px;
    transition: all 0.1s ease;
    padding: 0.344rem 1rem;
    font-size: 0.9rem;
}
button, html [type="button"], 
[type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.btn {
    display: inline-block;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border-radius: 0.25rem;
}
